<!-- <div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">sc</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->
<section class="top-main">
	<header>
		<div class="wrapper">
			<div class="logo"><img src="/assets/images/logo.png" alt=""></div>
			<div class="menu">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#mechanotherapy">Mechanotherapy</a></li>
					<li><a href="#news">News</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<div class="log-reg"><a href="">log in</a><b>|</b><a href="">register</a></div>
		</div>
	</header>
	<div class="wrapper">
		<div class="main-block">
			<div class="main-title">
				<h1>INNOVATIVE<br>ORTHODONTICS<br>EDUCATION</h1>
			</div>
			<div class="other-spec">
				<div class="list-spec">
					<p>CTOR Orthodontics</p>
					<p>CTOR Research</p>
					<p>CTOR Academy</p>
				</div>
				<img src="/assets/images/logo.png" alt="">
			</div>
		</div>
	</div>
</section>
