<div class="row">
    <div class="col-lg-12 text-center">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form class="uploadForm" novalidate="" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files" id="js-upload-files" ngf-select ng-model="vm.files" ngf-multiple="true">
              </div>
<!--               <button  type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
 -->            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone" ngf-drop ng-model="vm.files" class="drop-box">
            Just drag and drop files here
          </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1" ng-repeat="file in vm.files">
               <img ngf-thumbnail="file" width="80px" height="80px" ng-if="file.type !='application/pdf'">
               <embed ng-src="{{file}}" style="width:200px;height:200px;" ng-if="file.type =='application/pdf'"></embed>

               {{file.name | limitTo:10}}
            </div>
          </div>


          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>