<div class="registration-block1 forgetClass">
	<div class="log-data">
    <span class="text-success" ng-if="vm.message">
      <h3>{{vm.message}}</h3>
    </span>
		<form class="data" novalidate="" name="forgetForm" ng-submit="vm.submit(forgetForm, vm.formData)">
			<h1>Change your password</h1>
			<div class="email">
        <!-- <span><b></b>New Password</span> -->
        <input name="password" type="password" ng-model="vm.formData.password" required="" placeholder="New Password" ng-minlength="6">
        <span class="text-warning" ng-messages="forgetForm.password.$error" ng-if="forgetForm.$submitted">
          <h6 ng-message="required">
            Enter your new password
          </h6>
          <h6 ng-message="minlength">
            Enter atleast 6 characters
          </h6>
        </span>
      </div>
			<div class="phone">
        <!-- <span><b></b>Confirm password</span> -->
        <input name="confirmpassword" type="password"  ng-model="vm.formData.confirmpassword" placeholder="Confirm Password" match="vm.formData.password" ng-minlength="6" required="">
        <span class="text-warning" ng-messages="forgetForm.confirmpassword.$error" ng-if="forgetForm.$submitted">
          <h6 ng-message="required">
            Confirm Password
          </h6>
          <h6 ng-message="match">
            Password doesn't match
          </h6>
          <h6 ng-message="minlength">
            Enter atleast 6 characters
          </h6>
        </span>
      </div>
      <span>
        <input type="submit" value="Submit" class="sub-data">
        <i ng-if="vm.submitted" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </span>
		</form>
	</div>
</div>
